* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b39cd0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    line-height: 1.5em;
    margin-top: 0.125rem;
}

.container {
    max-width: min(100%, 1000px);
    padding: 0 1rem;
}

button {
    background-color: #87c078;
    color: white;
    margin: 0.5rem;
    border: none;
    padding: 1rem 3rem;
    font-size: 1em;
    border-radius: 0.5em 0.5em 30% 30%;
    box-shadow: 0 0 0.125em black inset;
    font-weight: bolder;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
}

h1 {
    text-align: center;
    font-size: 4em;
    font-weight: lighter;
    line-height: 1.6em;
    text-shadow: 1px 1px #ddfcda;
}

.menu-section {
    background-color: #c4c0c5;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(2, 121, 22, 0.3);
}

.section-title {
    margin: 0.25rem;
}

.section-footer, .section-header {
    text-align: center;
    margin: 0.5rem;
    font-size: 0.9em;
    font-weight: 300;
    flex: 1;
    padding: 0 10%;
}

.menu-option {
    padding-left: 1rem;
    display: grid;
    grid-template-areas: 
        "name blank price" 
        "description description description";
    grid-template-columns: max-content 1fr max-content;
    border-bottom: 1px solid #583c5f;
    margin-top: 1rem;
}

.item-price {
    grid-area: price;
    font-weight: lighter;
}

.item-name {
    font-size: 1.1em;
    font-weight: 600;
    grid-area: name;
}

.item-description {
    grid-area: description;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 10%;
    padding-bottom: 0.5rem;
}

.fine-print {
    font-size: 0.8em;
    font-weight: lighter;
    padding-bottom: 1rem;
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 80ch;
}

.splash {
    width: 50%;
    float: right;
    border: 0.5rem solid #340c66;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(48, 0, 37, 0.3);
    margin: 0 1rem;
}

.address-card, .hours-card {
    background-color: rgb(231, 250, 233);
    max-width: 30%;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    box-shadow: 0 0 0.25rem inset;
}

.copy {
    font-weight: bold;
    color: #002033;
    margin-bottom: 2rem;
    text-shadow: 0 1px #684d62;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #ddfcda;
    padding: 1rem 2rem;
    gap: 1rem;
}

.form-container input, .form-container textarea {
    margin-left: 1rem;
    max-width: 90%;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.3) inset;
    outline: 1px solid #87c078;
    font-size: 1em;
}

.form-container label {
    font-size: 1rem;
    margin-left: 0.5rem;
    max-width: 40ch;
}